@model IEnumerable<ServiceMVC.Models.Costo>

@{
    ViewData["Title"] = "Costos";
}

<h1>Costos</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tiempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solucion.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CostoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CostoID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CostoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
