@model IEnumerable<ServiceMVC.Models.ServxUsuario>

@{
    ViewData["Title"] = "Servcios x Usuario";
}

<h1>Servcios x Usuario</h1>

<p>
    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Create","ServxUsuarios")' class="btnLoadModal btn btn-outline-primary" data-toggle="modal" data-target="#modalPersnalizado"><span><i class="bi-plus-circle-fill"></i></span> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.UsuarioID == null)
                    {
                        <span>Sin Responsable</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Usuario.UserName)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.Cliente.ApellidoNombre)
                </td>
                <td>
                    @{
                        if (item.Status)
                        {
                            <i class="bi-check-square-fill text-primary"></i>
                        }
                        else
                        {
                            <i class="bi-square-fill text-danger"></i>
                        }
                    }
                    @*@Html.DisplayFor(modelItem => item.Status)*@
                </td>
                <td>
                    @if (item.UsuarioID == null)
                    {
                        <a href="@Url.ActionLink("TakeService","ServxUsuarios")/@item.ServcUsuarioID" class="btn btn-sm btn-info">Tomar Servicio</a>
                    }
                    else
                    {
                      <a href="@Url.ActionLink("GoService","ServxUsuarios")/@item.ServcUsuarioID" class="btn btn-sm btn-success">Ir al Servicio</a>
                    }
                    |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Edit","ServxUsuarios")/@item.ServcUsuarioID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-pencil-fill text-primary"></i></a> |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Details","ServxUsuarios")/@item.ServcUsuarioID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-eye-fill text-info"></i></a> |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Delete","ServxUsuarios")/@item.ServcUsuarioID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-trash-fill text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_modalview" />
