@model IEnumerable<ServiceMVC.Models.ServxUsuario>

@{
    ViewData["Title"] = "Servcios x Usuario";
}

<h1>Servcios x Usuario</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.ServicioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServcUsuarioID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ServcUsuarioID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ServcUsuarioID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
