@model ServiceMVC.Models.Servicio

@{
    //ViewData["Title"] = "Detalles";
    Layout = null;
}

<h1>Detalles</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEgr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEgr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadesTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadesTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solucionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solucionado)
        </dd>
    </dl>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.ServicioID">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>*@
