@model IEnumerable<ServiceMVC.Models.Servicio>

@{
    ViewData["Title"] = "Servicios";
}

<h1>Servicios</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEgr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadesTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solucionado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ApellidoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEgr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoTrabajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadesTrabajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solucionado)
                </td>
                <td>
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Edit","Servicios")/@item.ServicioID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-pencil-fill text-primary"></i></a> |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Details","Servicios")/@item.ServicioID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-eye-fill text-info"></i></a> |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Delete","Servicios")/@item.ServicioID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-trash-fill text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_modalview" />
