@model IEnumerable<ServiceMVC.Models.RankingClientes>

@{
    ViewData["Title"] = "Ranking Clientes";
}

<h1>Ranking Clientes</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalServicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalServicios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RankingClientesID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RankingClientesID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.RankingClientesID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
