@model ServiceMVC.Models.RankingUsuario

@{
    //ViewData["Title"] = "Eliminar";
    Layout = null;
}

<h1>Eliminar</h1>

<h3>Está seguro de que desea eliminarlo?</h3>
<div>
    <h4>Ranking Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnProceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnProceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solucionados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solucionados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fallados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fallados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RankingUsuarioID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> @*|
        <a asp-action="Index">Volver</a>*@
    </form>
</div>
