@model ServiceMVC.Models.DiagxSol

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Diagnosticos x Soluciones </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico.DiagnosticoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solucion.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiagxSolID">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
