@model IEnumerable<ServiceMVC.Models.DiagxSol>

@{
    ViewData["Title"] = "Diagnosticos x Soluciones";
}

<h1>Diagnosticos x Soluciones</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico.DiagnosticoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solucion.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiagxSolID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DiagxSolID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.DiagxSolID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
