@model IEnumerable<ServiceMVC.Models.Problema>

@{
    ViewData["Title"] = "Problemas";
}

<h1>Problemas</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProblemaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProblemaID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ProblemaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
