@model ServiceMVC.Models.ProbDiagSol

@{
    Layout = "_ModalLayout";
    //Layout = null;
}
@section Scripts{
    <script src="~/js/DiagxSolCMB.js"></script>
}
<h4>Agregar Problema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>Si el Diagnostico no existe agrega uno nuevo</p>
        <form id="AgregarSol" asp-action="AgregarSol" asp-controller="ProbDiagSoles" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServicioID" value="@ViewBag.ServicioID" />
            <div class="form-group">
                <label asp-for="ProblemaID" class="control-label">Problema</label>
                <select asp-for="ProblemaID" class="form-control cmborigen1" asp-items="ViewBag.ProblemaID" data-id="@Url.ActionLink("ProblemaChange","ProbdiagSoles")"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoID" class="control-label">Diagnostico</label>
                <select asp-for="DiagnosticoID" class="form-control cmbdestino1" asp-items="ViewBag.DiagnosticoID"></select>
            </div>
            <div class="form-group">
                <label for="Descripcion" class="control-label">Descripcion del Diagnostico</label>
                <input type="text" form="AgregarSol" id="Descripcion" name="Descripcion" class="form-control" />
            </div>
            <div class="form-group">
                <input form="AgregarSol" type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="w-100 d-none d-lg-block"></div>

    <hr />
    <div class="col-md-4 col-md-offset-2">
        <p>O elige uno existente</p>

        <form id="Agregar" asp-action="VincularSol" asp-controller="ProbDiagSoles" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServicioID" value="@ViewBag.ServicioID" />
            <div class="form-group">
                <label asp-for="ProblemaID" class="control-label">Problema</label>
                <select asp-for="ProblemaID" class="form-control cmborigen" asp-items="ViewBag.ProblemaID" data-id="@Url.ActionLink("ProblemaChange","ProbdiagSoles")"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoID" class="control-label">Diagnostico</label>
                <select asp-for="DiagnosticoID" class="form-control cmbdestino" asp-items="ViewBag.DiagnosticoID" data-id="@Url.ActionLink("DiagnosticoChange","ProbdiagSoles")"></select>
            </div>
            <div class="form-group">
                <label asp-for="SolucionID" class="control-label2">Solucion</label>
                <select asp-for="SolucionID" class="form-control cmbdestino2" asp-items="ViewBag.SolucionID"></select>
            </div>
            <div class="form-group">
                <input form="Agregar" type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>