@model IEnumerable<ServiceMVC.Models.Equipo>

@{
    ViewData["Title"] = "Equipos";
}

<h1>Equipos</h1>

<p>
    <a asp-action="Create">Nuevos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaEquipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaEquipo.CategoriaEquipoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EquipoID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
