@model IEnumerable<ServiceMVC.Models.Equipo>

@{
    ViewData["Title"] = "Equipos";
}

<h1>Equipos</h1>

<p>
    @*<a asp-action="Create">Nuevos</a>*@
    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Create","Equipos")' class="btnLoadModal btn btn-outline-primary" data-toggle="modal" data-target="#modalPersnalizado"><span><i class="bi-plus-circle-fill"></i></span> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaEquipo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ApellidoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaEquipo.Categoria)
            </td>
            <td>
                <a href="#modalPersnalizado" data-id='@Url.ActionLink("Edit","Equipos")/@item.EquipoID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-pencil-fill text-primary"></i></a> |
                <a href="#modalPersnalizado" data-id='@Url.ActionLink("Details","Equipos")/@item.EquipoID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-eye-fill text-info"></i></a> |
                <a href="#modalPersnalizado" data-id='@Url.ActionLink("Delete","Equipos")/@item.EquipoID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-trash-fill text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_modalview" />