@model IEnumerable<ServiceMVC.Models.ArancelTiempo>

@{
    ViewData["Title"] = "Arancel Tiempo";
}

<h1>Arancel Tiempo</h1>

<p>
    @*<a asp-action="Create">Nuevo</a>*@
    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Create","ArancelTiempos")' class="btnLoadModal btn btn-outline-primary" data-toggle="modal" data-target="#modalPersnalizado"><span><i class="bi-plus-circle-fill"></i></span> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Edit","ArancelTiempos")/@item.ArancelTiempoID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-pencil-fill text-primary"></i></a> |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Details","Equipos")/@item.ArancelTiempoID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-eye-fill text-info"></i></a> |
                    <a href="#modalPersnalizado" data-id='@Url.ActionLink("Delete","Equipos")/@item.ArancelTiempoID' class="btnLoadModal" data-toggle="modal" data-target="#modalPersnalizado"><i class="bi-trash-fill text-danger"></i></a>
            </tr>
        }
    </tbody>
</table>

<partial name="_modalview" />
