@model IEnumerable<ServiceMVC.Models.ArancelTiempo>

@{
    ViewData["Title"] = "Arancel Tiempo";
}

<h1>Arancel Tiempo</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArancelTiempoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ArancelTiempoID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ArancelTiempoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
