@model IEnumerable<ServiceMVC.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelCel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelFijo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelCel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelFijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
